<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <h1>URL Shortener</h1>

    <div class="container">
      <div class="row">
        <div class="input-field">
          <form id="url_form" method="POST" action="/">
            <input value="" id="input-shorten" type="text" class="validate text-input" name="full_url">
            <label class="active" for="input-shorten">Paste a link to shorten it</label>
            <div class="btn-container">
              <button type="submit" class="waves-effect waves-light btn">Shorten</button>
            </div>
          </form>
        </div>

        <br />
      
 
        <div id="card" class="card">
          <div class="card-content white-text">
            <span class="card-title">Links</span>
            <p>Long url: <a href="#" id="long-url" target='_blank'>http://google.com</a></p>
            <p>Short url: <a href="#" id="short-url" target='_blank'>http://google.com</a><span class="copy-chip chip">COPY</span></p>
          </div>
        </div>
        


        

      </div>
    </div>

    


    <script type="text/javascript" src="script.js"></script>
  </body>
</html>